<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="search">
        <input
          type="text"
          class="search__input"
          placeholder="Filtrar Produto"
        />
        <span class="search__span">
          <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
            <g>
              <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
              ></path>
            </g>
          </svg>
          <!-- <span class="material-icons search__icon">search</span> -->
        </span>
      </div>
    </div>
    <div class="col" style="text-align: right">
      <button
        class="btn btn-primary"
        [routerLink]="['/newProdutos']"
        type="button"
      >
        <i class="material-icons">playlist_add</i> Adicionar produto
      </button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="table" id="customers_table">
      <section class="table__header">
        <h1>Produtos</h1>
      </section>
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>Código <span class="icon-arrow">&UpArrow;</span></th>
              <th>Nome <span class="icon-arrow">&UpArrow;</span></th>
              <th>Valor Venda <span class="icon-arrow">&UpArrow;</span></th>
              <th>valor Compra <span class="icon-arrow">&UpArrow;</span></th>
              <th>Lucro <span class="icon-arrow">&UpArrow;</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>
              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar" [routerLink]="['/editProdutos']">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>
              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>
              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="assets/images/boloexemplo.png" alt="" />Chocolate
              </td>              <td>R$20</td>
              <td>R$90</td>

              <td>R$70</td>
              <td>
                <button class="editar">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                  <span class="text">Tooltip</span>
                </button>
                <button class="remover">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                  <span class="text">Tooltip</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
<script src="script.js"></script>
