<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<div class="container">
  <div class="row">
   <button class="btn btn-secondary mb-3" (click)="voltar()">
        <i class="material-icons">arrow_back</i> Voltar
      </button>

    <div class="col">
      <div class="search">
        <input #filtroInput type="text" class="search__input" placeholder="Filtrar Produto"
          (keyup)="filtrarProdutos(filtroInput.value)" />
        <span class="search__span">
          <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
            <g>
              <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
              </path>
            </g>
          </svg>
        </span>
      </div>
    </div>
    <div class="col" style="text-align: right">
      <button class="btn btn-success" [routerLink]="['/newProdutos']" type="button">
        <i class="material-icons">playlist_add</i> Adicionar produto
      </button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="table" id="customers_table">
      <section class="table__header">
        <h1>Total cadastrado: {{produtosFiltrados.length}}</h1>
      </section>
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>Código <span class="icon-arrow">&UpArrow;</span></th>
              <th>Nome <span class="icon-arrow">&UpArrow;</span></th>
              <th>Valor Venda <span class="icon-arrow">&UpArrow;</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtosFiltrados">
              <td>{{ produto.codigo || '—' }}</td>
              <td>
                <img [src]="produto.imagem || 'assets/images/boloexemplo.png'" alt="Imagem do produto" width="50" />
                {{ produto.nome }}
              </td>
              <td>{{ produto.valorTxt || ('R$ ' + produto.valor) }}</td>
              <td>
                <button class="editar" [routerLink]="['/editProdutos', produto.id]">
                  <i class="material-icons">edit</i>
                  <span class="tooltip">Editar</span>
                </button>
                <button class="remover" (click)="removerProduto(produto.codigo)">
                  <i class="material-icons">delete</i>
                  <span class="tooltip">Remover</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
<script src="script.js"></script>