<div class="card">
  <div class="card-body">

     <button class="btn btn-secondary mb-3" (click)="voltar()">
      <i class="material-icons">arrow_back</i> Voltar
    </button>

    <h2 class="mb-32">Editar</h2>
    <form [formGroup]="produtoForm" (ngSubmit)="salvarProduto()">
      
      <label for="nome" class="d-block mb-2 col-6">Nome</label>
      <mat-form-field class="w-100 fs-16 col-6" appearance="outline">
        <input matInput id="nome" type="text" placeholder="Digite o nome do produto" formControlName="nome" />
      </mat-form-field>
      <div class="error" *ngIf="produtoForm.get('nome')?.invalid && produtoForm.get('nome')?.touched">
        Nome é obrigatório.
      </div>

      <div class="form-row col-12">
        <div class="form-group">
          <label for="codigo" class="d-block mb-2">Código</label>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <input matInput id="codigo" type="text" placeholder="Digite o Código" formControlName="codigo" />
          </mat-form-field>
          <div class="error col-6" *ngIf="produtoForm.get('codigo')?.invalid && produtoForm.get('codigo')?.touched">
            Código é obrigatório.
          </div>
        </div>

        <div class="form-group">
          <label for="valor" class="d-block mb-2">Preço</label>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <input matInput id="valor" type="number" placeholder="Digite o preço de Venda" formControlName="valor" min="0.01" />
          </mat-form-field>
          <div class="error col-6" *ngIf="produtoForm.get('valor')?.invalid && produtoForm.get('valor')?.touched">
            Preço é obrigatório e deve ser maior que zero.
          </div>
        </div>
      </div>

      <button class="btn btn-success" type="submit" [disabled]="produtoForm.invalid">
        {{ isLoading ? 'Salvando...' : 'Salvar' }}
      </button>
    </form>
  </div>
</div>
