<div class="card">
  <button class="btn btn-secondary mb-3" (click)="voltar()" *ngIf="perfil == 'Administrador'">
    <i class="material-icons">arrow_back</i> Voltar
  </button>
  <div class="container">

    <div class="menu-section">
      <header>
        <input type="text" class="search__input" placeholder="Procurar Produto" [(ngModel)]="filtro"
          (input)="filtrarProdutos()" />
      </header>
      <h2>Selecione o Bolo</h2>
      <div class="dish-grid">
        <div class="dish-container">
          <div *ngFor="let produto of produtos$ | async" class="dish-card" (click)="adicionarAoPedido(produto)">
            <img src="assets/images/boloexemplo.png" alt="bolo" />
            <h3>{{ produto.nome }}</h3>
            <p>{{ produto.valorTxt }}</p>
            <span>código {{ produto.codigo }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="order-section">
      <h2><i class="material-icons">shopping_cart</i>No carrinho {{orderItems.length}}</h2>
      <div class="order-items">
        <!-- Lista de pedidos -->
        <div *ngFor="let item of orderItems; let i = index" class="order-item">
          <img src="assets/images/boloexemplo.png" alt="Bolo" />
          <div class="details">
            <h3>{{ item.nome }}</h3>
            <p>{{ item.valorTxt }}</p>
          </div>
          <button class="remove" (click)="removerItem(i)">&#10006;</button>
        </div>
      </div>
      <div class="payment">
        <h2>Forma de pagamento</h2>
        <div class="checkbox-container">
          <div class="checkbox-wrapper-16" *ngFor="let option of paymentOptions">
            <label class="checkbox-wrapper" [class.active]="selectedPayment === option.value"
              (click)="selectedPayment = option.value">
              <input type="radio" name="payment" [value]="option.value" [(ngModel)]="selectedPayment" />
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <i [class]="option.icon"></i>
                </span>
                <span class="checkbox-label">{{ option.label }}</span>
              </span>
            </label>
          </div>
        </div>
      </div>


      <footer class="baixo">
        <div class="container-troco" *ngIf="selectedPayment == 'dinheiro' && orderItems.length > 0">
          <label for="recebido" class="label-troco">Valor recebido:</label>
          <div class="input-wrapper">
            <span class="prefix">R$</span>
            <input type="number" id="recebido" placeholder="0,00" [(ngModel)]="valorPago" (input)="calcularTroco()"
              class="input-recebido" mask="separator.2" thousandSeparator="." decimalMarker="," />
          </div>
        </div>


        <div class="summary">
          <div style="padding: 1vh 0" *ngIf="selectedPayment === 'dinheiro' && orderItems.length > 0">
            <div class="col" style="color: blue"><b>TROCO:</b> <b><span *ngIf="troco != undefined">
                  {{ troco | currency : "BRL" }}</span></b></div>
          </div>

          <h2>Total: {{ calcularTotal() }}</h2>
        </div>
        <button class="payment-button" (keyup.enter)="finalizarVenda()" [disabled]="isLoading || orderItems.length == 0">
          {{ isLoading ? 'Finalizando...' : 'Finalizar venda [Enter]' }}
        </button>
      </footer>
    </div>
  </div>
</div>