<div class="card">
            <button class="btn btn-secondary mb-3" (click)="voltar()">
        <i class="material-icons">arrow_back</i> Voltar
      </button>
  <div class="container">

    <div class="menu-section">
      <header>
        <input type="text" class="search__input" placeholder="Procurar Produto" [(ngModel)]="filtro"
          (input)="filtrarProdutos()" />
      </header>
      <h2>Selecione o Bolo</h2>
      <div class="dish-grid">
        <div class="dish-container">
          <div *ngFor="let produto of produtos$ | async" class="dish-card" (click)="adicionarAoPedido(produto)">
            <img src="assets/images/boloexemplo.png" alt="bolo" />
            <h3>{{ produto.nome }}</h3>
            <p>{{ produto.valorTxt }}</p>
            <span>código {{ produto.codigo }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="order-section">
      <div class="order-items">
        <!-- Lista de pedidos -->
         <h2><i class="material-icons">shopping_cart</i> Carrinho</h2> 
        <div *ngFor="let item of orderItems" class="order-item">
          <img src="assets/images/boloexemplo.png" alt="Bolo" />
          <div class="details">
            <h3>{{ item.nome }}</h3>
          </div>
          <div class="quantity">
            <button (click)="alterarQuantidade(item, -1)">-</button>
            <span>{{ item.quantidade }}</span>
            <button (click)="alterarQuantidade(item, 1)">+</button>
          </div>
          <p>{{ item.valorTxt }}</p>
          <button class="remove" (click)="removerItem(item)">&times;</button>
        </div>
      </div>
      <!-- Payment Section -->
      <div class="payment">
        <h2>Pagamento</h2>
        <div class="checkbox-container">
          <div class="checkbox-wrapper-16">
            <label class="checkbox-wrapper">
              <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="dinheiro">
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <i class="fas fa-money-bill"></i>
                </span>
                <span class="checkbox-label">Dinheiro</span>
              </span>
            </label>
          </div>
          <div class="checkbox-wrapper-16">
            <label class="checkbox-wrapper">
              <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="pix">
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <i class="fas fa-money-bill"></i>
                </span>
                <span class="checkbox-label">Pix</span>
              </span>
            </label>
          </div>
          <div class="checkbox-wrapper-16">
            <label class="checkbox-wrapper">
              <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="debito">
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <i class="fas fa-credit-card"></i>
                </span>
                <span class="checkbox-label">Débito</span>
              </span>
            </label>
          </div>
          <div class="checkbox-wrapper-16">
            <label class="checkbox-wrapper">
              <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="credito">
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <i class="fas fa-credit-card"></i>
                </span>
                <span class="checkbox-label">Crédito</span>
              </span>
            </label>
          </div>
        </div>
      </div>

      <footer class="baixo">
        <div class="summary">
          <h2>Total: {{ calcularTotal() }}</h2>
        </div>
        <button class="payment-button" 
        (click)="finalizarVenda()" [disabled]="isLoading || orderItems.length == 0">
          {{ isLoading ? 'Finalizando...' : 'Finalizar venda' }}
        </button>
      </footer>
    </div>
  </div>
</div>