// h6{
//   color: #000;
// }

.max-width {
  max-width: 1400px;
}

mat-card{
background-color: #fff;
}

h4{
color: #151515;
}

.icone{
  background-color: #fff;
}


#vermelho{
  background-color: #fb9778fb;
}
#verde{
  background-color: #81d898;
}
#cinza{
  background-color: #03c9d7;
}
#amarelo{
  background-color: #feca0ff8;
}

.row {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  margin: 20px 0;          /* Espaçamento entre as linhas */
  background-color: #aad4ff; /* Fundo leve */
  border-radius: 10px;     /* Cantos arredondados */
  padding: 20px;           /* Espaço interno */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Leve sombra */
}
