<!-- <app-sales></app-sales> -->

<div>
  <div class="row">
    <div class="col-lg-6">
      <a [routerLink]="['/newVenda']">
      <mat-card class="mat-mdc-card cardWithShadow bg-primary text-white">
        <mat-card-content class="mat-mdc-card-content p-32">
          <div class="d-flex justify-content-between">
            <mat-card-title class="mat-mdc-card-title">
              <h4 class="mb-32">Iniciar Venda</h4>
            </mat-card-title>
            <div class="ms-auto">
              <button
                mat-fab=""
                id="verde"
                class="shadow-none bg-white icon-48 mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base icone"
                mat-ripple-loader-class-name="mat-mdc-button-ripple"
              >
                <span
                  class="mat-mdc-button-persistent-ripple mdc-fab__ripple"
                ></span>
                <span class="mat-mdc-focus-indicator"></span>
                <span class="mat-mdc-button-touch-target"></span>
                <span class="mat-ripple mat-mdc-button-ripple"></span>
                <i class="material-icons">real_estate_agent</i>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      </a>
    </div>
    <div class="col-lg-6">
      <a [routerLink]="['/listProdutos']">
        <mat-card class="mat-mdc-card cardWithShadow bg-primary text-white">
          <mat-card-content class="mat-mdc-card-content p-32">
            <div class="d-flex justify-content-between">
              <mat-card-title class="mat-mdc-card-title">
                <h4 class="mb-32">Meus produtos</h4>
              </mat-card-title>
              <div class="ms-auto">
                <button
                  mat-fab=""
                  id="amarelo"
                  class="shadow-none bg-white icon-48 mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base icone"
                  mat-ripple-loader-class-name="mat-mdc-button-ripple"
                >
                  <i class="material-icons">shopping_basket</i>
                  <span
                    class="mat-mdc-button-persistent-ripple mdc-fab__ripple"
                  ></span>
                  <span class="mat-mdc-focus-indicator"></span>
                  <span class="mat-mdc-button-touch-target"></span>
                  <span class="mat-ripple mat-mdc-button-ripple"></span>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mat-mdc-card cardWithShadow bg-primary text-white">
        <mat-card-content class="mat-mdc-card-content p-32">
          <div class="d-flex justify-content-between">
            <mat-card-title class="mat-mdc-card-title">
              <h4 class="mb-32">Financeiro</h4>
            </mat-card-title>
            <div class="ms-auto">
              <button
                mat-fab=""
                id="vermelho"
                class="shadow-none bg-white icon-48 mdc-fab mat-mdc-fab-base mat-mdc-fab mat-accent mat-mdc-button-base icone"
                mat-ripple-loader-class-name="mat-mdc-button-ripple"
              >
                <span
                  class="mat-mdc-button-persistent-ripple mdc-fab__ripple"
                ></span>
                <span class="mat-mdc-focus-indicator"></span>
                <span class="mat-mdc-button-touch-target"></span>
                <span class="mat-ripple mat-mdc-button-ripple"></span>
                <i class="material-icons">compare_arrows</i>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col-lg-12">
    <!-- <app-product></app-product> -->
  </div>
</div>

<!-- <app-cards></app-cards> -->
